# environment
.env
.env.*
!/.env.example

# node
node_modules/
dist/

# python
__pycache__/
*.pyc
.venv/

# os
.DS_Store

# editors
.vscode/
.idea/

# cave-gen generated outputs
/cave-gen/dataset/
/cave-gen/cave_env/meshes/
/cave-gen/cave_env/cave_maze.xml
/cave-gen/cave_env/cave_episode.xml
/cave-gen/cave_env/cave_hexapod.xml
/cave-gen/__pycache__/
