fastapi==0.111.0
uvicorn[standard]==0.30.0

numpy==2.0.2
Pillow==10.4.0

torch==2.3.1
transformers==4.51.3
safetensors==0.5.3
huggingface_hub==0.31.2

mujoco==3.8.0

faster-whisper==1.1.1
pyttsx3==2.99
